.control-box {
    width: 400px;
    margin-top: 50px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.meme-editor-container {
    display: none;
}

.control-box-input {
    height: 30px;
}

.btn {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

.control-box>* {
    margin: 5px;
    border-radius: 5px;
}

.txt-inputs-container {
    margin: 5px;
    border-radius: 5px;
    width: 100px;
}

.share-btn, .download-btn {
    width: 100px;
    text-align: center;
}