.control-box {
    width: 400px;
    margin-top: 50px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.meme-editor-container {
    display: none;
}

input {
    border-radius: 20px;
    height: 40px;
    margin-bottom: 5px;
}

.text-input {
    margin-left: 70px;
    width: 250px;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.control-box>* {
    margin: 5px;
    border-radius: 5px;
}

.txt-inputs-container {
    margin: 5px;
    border-radius: 5px;
    width: 100px;
}

.share-btn, .download-btn {
    width: 100px;
    text-align: center;
}

.selected {
    background-color: rgb(177, 175, 175);
}

.font-select-form {
    display: inline;
}