input, select {
    border-radius: 10px;
    height: 40px;
}

.font-selection * {
    border-radius: 10px;
}

.font-selection {
    width: 100%;
}

select {
    color: #c0392b;
    font-size: 20px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

option {
    font-size: 15px;
}

.btn {
    font-size: 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    text-shadow: rgb(0 0 0) -1px 1px 1px, rgb(0 0 0) 1px 1px 1px, rgb(0 0 0) 1px -1px 1px, rgb(0 0 0) -1px -1px 1px, rgb(0 0 0) -1px 1px 1px, rgb(0 0 0) 1px 1px 1px, rgb(0 0 0) 1px -1px 1px, rgb(0 0 0) -1px -1px 1px;
    color: white;
}

.control-box>*:not(:first-child) {
    margin-bottom: 5px;
}

.middle-btns-container {
    width: 100%;
    background-color: #8b3838;
}

.txt-inputs-container {
    width: 100%;
}

.btns-section {
    width: 100%;
    margin-top: auto;
}

.btns-container {
    background-color: #8b3838;
    width: 49%;
}

.btns-container:hover, .middle-btns-container:hover {
    background-color: #bb6565;
}

.text-input {
    width: 100%;
    margin-bottom: 5px;
}

.save-btn, .download-btn {
    font-size: 25px;
    text-align: center;
    margin-top: auto;
    box-shadow: inset 0 -0.6em 0 -0.35em #23232b;
    padding: 7px 20px;
}

.save-btn:hover, .download-btn:hover {
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(78, 40, 40);
    border-radius: 10px;
    background-color: #bb6565;
}

#primary_color {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

.light-outline {
    text-shadow: rgb(255 255 255) -1px 1px 1px, rgb(255 255 255) 1px 1px 1px, rgb(255 255 255) 1px -1px 1px, rgb(255 255 255) -1px -1px 1px, rgb(255 255 255) -1px 1px 1px, rgb(255 255 255) 1px 1px 1px, rgb(255 255 255) 1px -1px 1px, rgb(255 255 255) -1px -1px 1px;
    color: black
}

.dark-outline {
    text-shadow: rgb(0 0 0) -1px 1px 1px, rgb(0 0 0) 1px 1px 1px, rgb(0 0 0) 1px -1px 1px, rgb(0 0 0) -1px -1px 1px, rgb(0 0 0) -1px 1px 1px, rgb(0 0 0) 1px 1px 1px, rgb(0 0 0) 1px -1px 1px, rgb(0 0 0) -1px -1px 1px;
    color: white;
}

.control-box {
    padding: 50px 20px;
    margin-left: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00000056;
    border-radius: 30px;
    width: 320px;
}

#my-canvas {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    min-width: 450px;
    min-height: 450px;
}

@media (max-width: 990px) {
    .control-box {
        margin-left: 0;
        max-width: 600px;
        width: 100%;
        height: 100%;
    }
    .btn {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    #my-canvas {
        min-width: unset;
        min-height: unset;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 330px) {
    #my-canvas {
        min-width: 250px;
        min-height: 250px;
        width: 100%;
        height: 100%;
    }
}