.control-box {
    width: 450px;
    padding: 50px 0;
    margin-left: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00000056;
    border-radius: 30px;
    min-width: 300px;
}

input {
    border-radius: 20px;
    height: 40px;
    margin-bottom: 5px;
}

.btn {
    font-size: 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
color: rgba(255, 255, 255, 0.377)}

.control-box>* {
    margin: 5px;
    border-radius: 5px;
}


.btns-container {
    width: 90%;
    margin-top: auto;
}

.txt-inputs-container {
    margin: 5px;
    border-radius: 5px;
    width: 90%;
}

.text-input {
    width: 90%;
}
.save-btn, .download-btn {
    font-size: 25px;
    text-align: center;
    margin-top: auto;
    box-shadow: inset 0 -0.6em 0 -0.35em #23232b;
    border: white solid 1px;
    padding: 10px 20px;
}

.save-btn:hover, .download-btn:hover {
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(85, 84, 84);
    border-radius: 30px;
    background-color: white;
    color: #23232b;
    
}

.stroke {
    color: #81658d;
}

.font-select-form {
    display: inline;
}

@media (max-width: 740px) {
    .control-box {
        margin-left: 0;
    }
}