/* FONTS */

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(31, 31, 54);
}

.main-header {
    font-family: Impact, Arial, Helvetica, sans-serif;
    height: 60px;
    background-color: rgb(64, 64, 77);
    border-radius: 20px;
}

.main-header>* {
    margin: 0 20px
}

.logo {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: 150px;
    grid-auto-flow: dense;
    gap: 10px
}

.gallery-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.gallery-item:hover {
    opacity: 0.4;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.meme-editor-container {
    margin: 0 auto;
    width: 900px;
    border: solid 1px black;
}

.key-words-container>* {
    padding: 0;
    margin-right: 100px;
    cursor: pointer;
}

.about-container, .my-memes-container {
    display: none;
}

/* HELPERS */

.clean-list {
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: none;
    border: none;
    background-color: transparent;
    padding: 5px;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}



/* MENU AND NAVBAR */

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
  }

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    /* line-height: 130px; */
    width: 8.4375rem;
    text-align: center;
    transition: .4s;
}

.main-nav a.active {
    border-bottom: 6px solid lightblue;
    color: lightblue;
}

.main-nav a:hover, .logo:hover {
    color: lightblue;
}


@media (max-width: 980px) {}

@media (max-width: 740px) {
    .grid-container {
        width: 740px
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: #292929;
        height: 100vh;
        transition: transform 1s;
        transform: translate(120%, 0);
    }
    .open .main-nav {
        transform: translate(0, 0);
    }
    .main-nav a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 1px solid #1e1e1e;
    }
    .main-nav a.active {
        border-width: 1px;
    }
    .toggle-menu-screen {
        display: block;
    }
    .toggle-menu-btn {
        display: block;
    }
}

@media (max-width: 550px) {
    .grid-container {
        width: 550px
    }
}