/* FONTS */

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #c0392b;
    background: linear-gradient(to right, #8e44ad, #c0392b);
}

.main-header {
    font-family: Impact, Arial, Helvetica, sans-serif;
    height: 60px;
    background-color: #00000056;
    border-radius: 20px;
    margin-bottom: 20px;
}

.main-header>* {
    margin: 0 20px
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: 150px;
    grid-auto-flow: dense;
    gap: 10px
}

.grid-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.grid-item:hover {
    opacity: 0.4;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.meme-editor-container {
    display: none;
    margin: 0 auto;
    max-width: 970px
}

.key-words-container>* {
    padding: 0;
    margin-right: 100px;
    cursor: pointer;
}

#my-canvas {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    min-width: 450px;
    min-height: 450px;
}

/* HELPERS */

.clean-list {
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: none;
    border: none;
    background-color: transparent;
    padding: 5px;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

/* MENU AND NAVBAR */

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    margin-right: 30px;
    display: none;
    transition: .3s;
}

.toggle-menu-btn:hover {
    color: #ac6ac9;
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

.main-nav a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    display: block;
    width: 8.4375rem;
    text-align: center;
    transition: .4s;
    animation: bouncy 5s infinite linear;
    position: relative;
}

.main-nav a:hover {
    color: #9d4bc0;
}

.logo {
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: .4s;
}

.logo:hover {
    color: #ff7262;
}

.main-nav a.active {
    border-bottom: 6px solid lightblue;
    color: lightblue;
}

@media (max-width: 740px) {
    .main-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: linear-gradient(to right, #3a1313f3, #571515f3);
        height: 100vh;
        transition: transform 1s;
        transform: translate(120%, 0);
    }
    .open .main-nav {
        transform: translate(0, 0);
    }
    .main-nav a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 2px solid #e75555;
        animation: none;
    }
    .main-nav a.active {
        border-width: 1px;
    }
    .toggle-menu-screen {
        display: block;
    }
    .toggle-menu-btn {
        display: block;
    }
    .meme-editor-container {
        flex-direction: column;
        align-items: center;
    }
    .main-nav a:hover {
        color: #e75555;
    }
}

@media (max-width: 370px) {
    canvas {
        width: 300px;
        height: 300px;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fill, 100px);
        grid-template-rows: 100px;
    }
}



.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}